<div class="shader" *ngIf="isShowing" [@fadeInOut]></div>
<div class="dialogContainer" *ngIf="isShowing" [@flyInOut]>
    <div class="dialog">
        <div>{{text}}</div>
        <ul>
            <li><div tabindex="0" class="dialogButton" *ngIf="buttons == 1">Ja</div></li>
            <li><div tabindex="0" class="dialogButton" *ngIf="buttons == 0" (click)="okClick()">OK</div></li>
            <li><div tabindex="0" class="dialogButton" *ngIf="buttons == 1">Abbrechen</div></li>
            <li><div tabindex="0" class="dialogButton" *ngIf="buttons == 1">Nein</div></li>
        </ul>
    </div>
</div>