<div class="shader" *ngIf="isShowing" [@fadeInOut]></div>
<div class="dialogContainer" (keydown)="onKeyDown($event)" (document:focusin)="onFocusIn($event)" *ngIf="isShowing" [@flyInOut]>
    <div class="dialog">
        <div class="text">{{text}}</div>
        <ul>
            <li><div #ok tabindex="1" class="dialogButton" *ngIf="buttons == 2"
                (keydown)="onKeyDownOk($event)" (click)="okClick()">Ja</div></li>
            <li><div #ok tabindex="1" class="dialogButton" *ngIf="buttons == 0 || buttons == 1"
                 (keydown)="onKeyDownOk($event)" (click)="okClick()">OK</div></li>
            <li><div tabindex="2" class="dialogButton" *ngIf="buttons == 2"
                (keydown)="onKeyDownNo($event)" (click)="noClick()">Nein</div></li>
            <li><div tabindex="3" class="dialogButton" *ngIf="buttons == 1 || buttons == 2"
                (keydown)="onKeyDownCancel($event)" (click)="cancelClick()">Abbrechen</div></li>
            </ul>
    </div>
</div>