td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
}

.iconName {
    display: flex;
}

.icon {
    height: 16px;
}

.nameValue {
    overflow: hidden;
    margin-top: 1px;
    margin-left: 3px;
    text-overflow: ellipsis;
}

