<!-- <td [class.isExif]="item.isExif">{{item.time | date }}</td>
<td class="size" >{{item.size | fileSize}}</td>
<td>{{item.version}}</td> -->
<td>
    <div class="iconName">
        <img [src]="item.icon" alt="" *ngIf="item.icon != 'Folder'">
        <app-folder *ngIf="item.icon == 'Folder'"></app-folder>
        <span class="nameValue">{{item.items[0]}}</span>
    </div>
</td>
<td [class.rightAligned]="columns?.values[1].rightAligned">{{item.items[1]}}</td>
<td [class.rightAligned]="columns?.values[2].rightAligned">{{item.items[2]}}</td>
<td [class.rightAligned]="columns?.values[3].rightAligned">{{item.items[3]}}</td>
