<table #table tabindex="1" [style.clip]="table.parentElement.clientHeight | clipHeight"
     (keydown)="onKeyDown($event)" (mousewheel)=scrollbar.onMouseWheel($event) (mousedown)="onMouseDown($event)">
    <thead app-columns [columns]="columns" (onSort)="onColumnSort($event)"></thead>
    <tbody>
        <ng-container *ngFor="let item of items | virtualList: scrollbar | async" >
            <tr class="pointer-def" app-table-view-item [item]=item 
            [class.isCurrent]="item.isCurrent" [class.isSelected]="item.isSelected" [class.isHidden]="item.isHidden"></tr>
        </ng-container>   
    </tbody>
</table>    
<app-scrollbar #scrollbar [list]=table [itemHeight]="itemHeight" [columnsHeight]=16></app-scrollbar>

