<table #table tabindex="1" (keydown)="onKeyDown($event)">
    <thead app-columns (onSort)="onColumnSort($event)"></thead>
    <tbody (mousewheel)="onMouseWheel($event)">
        <ng-container *ngFor="let item of itemsView | async" [ngSwitch]="item.isDirectory">
            <tr app-directory-item *ngSwitchCase="true" [Item]=item [class.isSelected]="item.isCurrent" ></tr>
            <tr app-file-item *ngSwitchCase="false" [Item]=item [class.isSelected]="item.isCurrent"></tr>
        </ng-container>   
    </tbody>
</table>    
<app-scrollbar (positionChanged)="onScroll($event)"></app-scrollbar>

