table {
    box-sizing: border-box;
    width: 100%;
    outline-width: 0px;
    overflow-y: hidden;
    table-layout: fixed;
    border-spacing: 0px;
    position: absolute;
}

table tr {
    transition: background-color 0.3s;
}

table td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
}

.highlight {
    background-color: lightgreen;
}

table tr:focus {
    outline-color: red;
    outline-width: 1px;
    outline-style: solid;
    outline-offset: -1px;
}