:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
app-grid-splitter.first {
    display: flex;
    flex-grow: 2;
}
app-commander-view, .green {
    flex-grow: 1;
}

.green {
    background-color: white;
    flex-grow: 1;
}
button {
    margin: 10px;
}