:host {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

#listBox {
    flex-grow: 1;
    margin: 40px;
    position: relative;
}

ul {
    position: absolute;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    clip: rect(0px, auto, auto, 0px);
}

button {
    margin: 10px;
}
