:host {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

#listBox {
    flex-grow: 1;
    margin: 40px;
    position: relative;
}

ul {
    position: absolute;
    list-style-type: none;
    padding-left: 5px;
    height: 100%;
    width: 100%;
    clip: rect(0px, auto, auto, 0px);
}

button {
    margin: 10px;
}
/*
#ulContainer {
    margin: 40px;
    position: relative; 
    width: 200px;
    height: calc(100vh - 80px);
    border-color: gray;
    border-width: 1px;
    border-style: solid;
}
*/

