:host {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.tableContainer {
    margin: 30px;
    border-color: darkgray;
    border-width: 1px;
    border-style: solid;
}

button {
    margin: 10px;
}
