<p>
    <button (click)='onDirect()'>Direkt</button>
    <span>{{directText}}</span>
</p>
<p>
    <button (click)='onLater()'>Später</button>
    <span>{{laterText}}</span>
</p>
<p>
    <button (click)='onHttp()'>HTTP</button>
    <span>{{httpText}}</span>
</p>
<p>
    <span>{{intervalText}}</span>
</p>
<p>
    <span>{{eventText}}</span>
</p>
<p>
    <button (click)='onAddon()'>Addon</button>
    <span>{{addonText}}</span>
</p>
<p>
    <button (click)='onCreateDirectoryAsync()'>createDirectory</button>
    <span>{{addonAsyncText}}</span>
</p>
<p>
    <button (click)='onCreateDirectoryInWindowsAsync()'>Dir in Win</button>
    <span>{{addonAsyncText}}</span>
</p>
