<div #scrollbar class="scrollbar scrollbarHidden" (mousedown)="scrollbarMouseDown($event)" (mouseup)="mouseup()" 
    (click)="onClick($event)" (onmouseleave)="onMouseLeave()">
    <div class="scrollbarUp" (mousedown)="upMouseDown()" (mouseup)="mouseup()">
        <div class="scrollbarUpImg"></div>
    </div>
    <div #grip class="scrollbarGrip" (mousedown)="gripMouseDown($event)" (mouseup)="mouseup()"></div>
    <div class="scrollbarDown" (mousedown)="downMouseDown()" (mouseup)="mouseup()">
        <div class="scrollbarDownImg"></div>
    </div>
</div>