<img src="/request/icon?ext=.gif" class="it-image">
<img src="/request/icon?ext=.cs" class="it-image">
<img src="/request/icon?ext=.cpp" class="it-image">
<img src="/request/icon?ext=.png" class="it-image">
<img src="/request/icon?ext=.exe" class="it-image">
<img src="/request/icon?ext=.html" class="it-image">
<img src="/request/icon?ext=.xxx" class="it-image">
<img src="/request/icon?ext=.css" class="it-image">
<img src="/request/icon?ext=.docx" class="it-image">
<img src="/request/icon?ext=.pdf" class="it-image">
<img src="/request/icon?ext=C:\windows\winhlp32.exe" class="it-image">