<img src="/request/icon?path=.gif" class="it-image">
<img src="/request/icon?path=.cs" class="it-image">
<img src="/request/icon?path=.cpp" class="it-image">
<img src="/request/icon?path=.png" class="it-image">
<img src="/request/icon?path=.exe" class="it-image">
<img src="/request/icon?path=.html" class="it-image">
<img src="/request/icon?path=.xxx" class="it-image">
<img src="/request/icon?path=.css" class="it-image">
<img src="/request/icon?path=.docx" class="it-image">
<img src="/request/icon?path=.pdf" class="it-image">
<img src="/request/icon?path=C:\Program Files\Microsoft VS Code\code.exe" class="it-image">